extends layout 

block content 
    h1 #{brand.name} Products

    for category in all_categories 
        h2 #{category.name}
        ul
            for product in brand_products 
                if product.category.name == category.name
                    li 
                        a(href=product.url) #{product.name}
            else 
                li There are no products made by #{brand.name}