extends layout 

block content 
    h1 #{brand.name} Products

    if brand_products.length > 0
        for category in all_categories 
            h2 #{category.name}
            ul.detail-group
                for product in brand_products 
                    if product.category.name == category.name
                        li.detail-item 
                            a(href=product.url) #{product.name}
    else 
        li There are no products made by #{brand.name}

    a.link-button(href=brand.url+'/update') Update Brand
    a.link-button(href=brand.url+'/delete') Delete Brand