extends layout 

block content 
    h1 #{brand.name} Products

    if brand_products.length > 0
        for category in all_categories 
            h2 Category: #{category.name}
            ul
                for product in brand_products 
                    if product.category.name == category.name
                        li 
                            a(href=product.url) #{product.name}
    else 
        li There are no products made by #{brand.name}

    a(href=brand.url+'/update') <button>Update Brand</button>
    a(href=brand.url+'/delete') <button>Delete Brand</button>