extends layout 

block content 
    h1 #{category.name}

    for brand in all_brands 
        h2 #{brand.name}
        ul
            for product in category_products 
                if product.brand.name == brand.name
                    li 
                        a(href=product.url) #{product.name}
            else 
                li #{brand.name} makes no #{category.name}

    a(href=category.url+'/delete') <button>Delete Category</button>