extends layout

block content
  h1= title
  p This is the home page for #{title}

  p Total products: <a href = '/products'> #{num_products}</a>
  p Total brands: <a href = '/brands'> #{num_brands}</a>
  p Total categories: <a href = '/categories'> #{num_categories}</a>