extends layout 

block content 
    h1 #{title} 

    p #{product.description}
    p Number in Stock: #{product.quantity} 
    p Manufacturer: #{product.brand.name}
    p Category: #{product.category.name}