extends layout 

block content 
    h1 #{title} 

    div.product-detail-container
        p #{product.description}
        p Number in Stock: #{product.quantity} 
        p Manufacturer: #{product.brand.name}
        p Category: #{product.category.name}

    a.link-button(href=product.url+'/update') Update Product
    a.link-button(href=product.url+'/delete') Delete Product